<div class="search">
  <div class="d-flex justify-content-between">
    <h2 class="text-center">Questions</h2>
    <button class="btn btn-danger" (click)="onClose()">X</button>
  </div>
  <div class="row">
    <div *ngFor="let question of data" class="col-lg-4 p-3">
      <div class="bg-white text-dark p-3">
        <p>{{ question.question }}</p>
        <div class="pt-4">
          <button class="btn btn-warning" (click)="openQuestion(question.id)">
            View Answers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
