<div class="row text-white" style="height: 100%">
  <div class="col-lg-4 col-md-2"></div>
  <div class="col-lg-4 col-md-8 my-auto p-5" style="max-height: 100%">
    <div class="py-3"><h2>Sign up</h2></div>
    <div class="form-group py-3">
      <label for="username">Username</label>
      <input
        [(ngModel)]="username"
        class="form-control"
        name="username"
        type="text"
        required
      />
    </div>
    <div class="form-group py-3">
      <label for="email">Name</label>
      <input
        [(ngModel)]="name"
        class="form-control"
        name="name"
        type="name"
        required
      />
    </div>
    <div class="form-group py-3">
      <label for="email">Email</label>
      <input
        [(ngModel)]="email"
        class="form-control"
        name="email"
        type="email"
        required
      />
    </div>
    <div class="form-group py-3">
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        class="form-control"
        name="password"
        type="password"
        required
      />
    </div>
    <div class="form-group py-3">
      <label for="password">Role</label>
      <select [(ngModel)]="role" class="form-select">
        <option selected>User</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <div class="py-2">
      <button class="btn btn-success" (click)="onRegister()">Register</button>
      <p class="pt-2 text-warning">{{ warning }}</p>
    </div>
    <div class="py-4">
      <p>
        Already registered?
        <a routerLink="/login" style="text-decoration: none; color: yellow"
          >Sign in now</a
        >
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-2"></div>
</div>
