<nav class="navbar navbar-expand-lg navbar-dark px-5">
  <a class="navbar-brand" routerLink="/">Do Connect</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button class="btn btn-info" id="search-addon" (click)="onSearch()">
            Search
          </button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/post-question">Post Question </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
